
.lightbox {
    position: fixed;
    top: 0;
    left : 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-color: rgba(#FFF, 0.9);
}

.lightbox__image {
    position: fixed;
}

.lightbox__close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(./assets/cross.png) transparent no-repeat;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}